.component {
  margin: 30px;
  padding: 30px;
  width: 100px;
  border: 1px solid goldenrod;
}

.name {
  color: goldenrod;
}

ul.component-list {
  display: flex;
  flex-wrap: wrap;
}

li.component-item {
  display: inline;
}

.navLink {
  display: inline;
}

body {
    height: 300vh;
    font-family: jupiter-bold;
  background-image;https://wallpapersafari.com/ffxiv-hd-wallpaper/;
}
#root {
  margin-top: 100px;
  padding: 45px;
}

.main-image{
  width:100%;
  height:100%;
}
header {
  background-image: https://wallpapersafari.com/ffxiv-hd-wallpaper/;
  position: fixed;
  top: 40px;
  left: 30px;
  right: 0px;
  height: 80px;
    display: flex;
    allign-items: center;
}
header * {
  display: inline;
}
header img {
  height: 90px;
margin-left: 20px;
}
header li {
  margin: 15px;
}

a {
  color: black;
}

.singleCharacter {
  display: flex;
  justify-content: center;
}
.button-link {
  font: bold 12px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-left: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
